.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.card {
    background-color: black;
}

#btn_clr {
    background-color: crimson;
}

.btn {
    background-color: aquamarine;
}